name: Go

on:
  push:
    branches: [ master ]


jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        gofmt -w .
        # git config --global user.email "cicd@a.b"
        # git config --global user.name "cicd"
        # git commit -a -m"Format code in action"
        cat /github/workflow/event.json

    - uses: mikeal/publish-to-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
