name: pr

on:
  pull_request:
    branches:
      - master


jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: format code
      run: |
        gofmt -w .
        git config user.name "Automated Publisher"
        git config user.email "actions@users.noreply.github.com"
        git commit -a -m"Format code in action"

    - name: Automatic Rebase
      uses: cirrus-actions/rebase@1.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
